body {
    font-family: Arial, sans-serif;
    text-align: center;
<<<<<<< HEAD
    background: linear-gradient(135deg, #4a2bc81f, #2574fc28, #3043bf42, #4a2bc836, #2574fc39, #25359f3d);
}

h1 {
    color: darkslategray;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-top: 100px; 
=======
    background: linear-gradient(135deg, #4a2bc849, #2574fc66, #25359f6d, #4a2bc849, #2574fc66, #25359f6d);
}

h1{
    color:darkslategray;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
>>>>>>> main
}

h2 {
    color: #333;
    text-align: center;
}

table {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

<<<<<<< HEAD
#detail {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

=======
>>>>>>> main
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

<<<<<<< HEAD
li {
    list-style: none;
    padding: 40px;
    margin: 2px;
    font-size: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

=======
>>>>>>> main
th {
    background-color: #f4f4f4;
}

#details{
    color: cornflowerblue;
    font-weight: bold;
}

form{
    color:mignightblue;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    font-size: 1.5em;
}

input{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.tab-bar {
    background-color: #333;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
<<<<<<< HEAD
    top:0;
    left: 0;
    right: 0;
=======
>>>>>>> main
}

#sms {
    color: white;
    font-size: 1.5em;
    margin-right: 20px;
}

.tabs {
    display: flex;
    gap: 30px; 
}

.tabs a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
}

.tab-bar a.active {
    background-color: #04AA6D;
}
